.vote-container {
	margin: 0 auto;
	max-width: 400px;
	border: 1px solid #DDDDDD;
	border-radius: 21px;
	overflow: hidden;
}

.vote-container>.vote-avatar-holder {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #DDDDDD;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	background-color: #47b1e1;
}
.vote-avatar {
	display: flex;
	margin-top: 9px;
	border-radius: 50%;
	width: 100px;
	height: auto;
	border: 2px solid #d22324;
	background-color: #DDDDDD;
}
.vote-author {
	color: #d22324;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}


.otherUsersAnswersHolder{
	display: flex;
	flex-direction: column;
	border-top: 1px solid;
	align-items: center;
	justify-content: center;
}
.optionResultHolder{
	margin: 6px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.vote-answer-text{
	margin: 6px;
}
.vote-btn {
	border-radius: 5px;
	background: #fafbf9;
	border: 2px solid rgba(255, 255, 255, 0);
	height: 35px;
	width: fit-content;
	cursor: pointer;
	color: #3789af;
	font-weight: bolder;
}
.vote-btn:hover {
	cursor: pointer;
	border: 2px solid #000000;
}

.author {
	padding-top: 20px;
}

.yourAnswer {
	color: #3cb371;
	border: 1px dashed;
	margin: 6px 0;
	padding: 9px;
}

.returnBtn {
	height: 45px;
	background-color: white;
	border-radius: 5px;
	margin: 20px;
	font-weight: bold;
	padding-left: 24px;
	padding-right: 24px;
}

.vote-question-title{
	position: relative;
	display: block;
	width: fit-content;
	text-align: center;
	padding: 6px;
	margin: 0 auto;
	border: 1px dashed;
	border-radius: 6px;
}
.vote-answers-container{
	position: relative;
	display: block;
	width: 80%;
	margin: 21px auto;
	border-radius: 9px;
	border: 1px solid #dddddd;
	padding: 9px;
}
.vote-answer-holder {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: column;
	justify-items: center;
	min-height: 100px;
	background-color: #ffffff;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	align-items: center;
}
.vote-answer-holder:hover{
	cursor: pointer;
	/*transform: scale(1.5);*/
	color: #ffffff;
	font-weight: bold;
}

.green {
	color: #3cb371;
}
